In [1]:
import pandas as pd

In [2]:
# Combining 2018 files 
bikes2018 = ('rawData/201801.csv', 'rawData/201802.csv', 'rawData/201803.csv', 'rawData/201804.csv', 'rawData/201805.csv', 'rawData/201806.csv', 'rawData/201807.csv', 'rawData/201808.csv', 'rawData/201809.csv', 'rawData/201810.csv', 'rawData/201811.csv', 'rawData/201812.csv')

# Craeating an empty list to store dataframe
bikes2018_list = []

#Looping throiugh files and store into data frame
for file in bikes2018:
    bikes2018 = pd.read_csv(file)
    bikes2018_list.append(bikes2018)

bikes2018_df = pd.concat(bikes2018_list)

bikes2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [3]:
# Combining 2010 files 
bikes2019 = ('rawData/201901.csv', 'rawData/201902.csv', 'rawData/201903.csv', 'rawData/201904.csv', 'rawData/201905.csv', 'rawData/201906.csv', 'rawData/201907.csv', 'rawData/201908.csv', 'rawData/201909.csv', 'rawData/201910.csv', 'rawData/201911.csv', 'rawData/201912.csv')

# Craeating an empty list to store dataframe
bikes2019_list = []

#Looping throiugh files and store into data frame
for file in bikes2019:
    bikes2019 = pd.read_csv(file)
    bikes2019_list.append(bikes2019)

bikes2019_df = pd.concat(bikes2019_list)

bikes2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [4]:
# Combining 2010 files 
bikes2020 = ('rawData/202001.csv', 'rawData/202002.csv', 'rawData/202003.csv', 'rawData/202004.csv', 'rawData/202005.csv', 'rawData/202006.csv', 'rawData/202007.csv', 'rawData/202008.csv', 'rawData/202009.csv', 'rawData/202010.csv', 'rawData/202011.csv', 'rawData/202012.csv')

# Craeating an empty list to store dataframe
bikes2020_list = []

#Looping throiugh files and store into data frame
for file in bikes2020:
    bikes2020 = pd.read_csv(file)
    bikes2020_list.append(bikes2020)

bikes2020_df = pd.concat(bikes2020_list)

bikes2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [5]:
#Combining the three years of data into one Dataframe

combinedCityBikes_df = pd.concat([bikes2018_df, bikes2019_df, bikes2020_df], axis =0)

combinedCityBikes_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088924,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3614.0,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,1
1088925,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,0
1088926,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510.0,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,0
1088927,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073.0,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500.0,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,1
1088928,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,0

In [6]:
# Changing gender values to numerical values

mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use .loc to assign the mapped values to 'gender' column
combinedCityBikes_df['gender'] = combinedCityBikes_df['gender'].map(mapping)

cityBikes_df = combinedCityBikes_df

cityBikes_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,Male
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,Male
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,Male
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,Male
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088924,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3614.0,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,Male
1088925,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,Unknown
1088926,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510.0,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,Unknown
1088927,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073.0,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500.0,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,Male
1088928,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,Unknown

In [12]:
# Defining Manhattan's latitude and longitude ranges

jersey_city_latitude_range = (40.670, 40.750)
jersey_city_longitude_range = (-74.100, -74.020)

# Filter the dataframe based on the latitude and longitude ranges for Jersey City
cityBikesJerseyCity_df = cityBikes_df[
    (cityBikes_df['start station latitude'].between(*jersey_city_latitude_range)) &
    (cityBikes_df['start station longitude'].between(*jersey_city_longitude_range)) &
    (cityBikes_df['end station latitude'].between(*jersey_city_latitude_range)) &
    (cityBikes_df['end station longitude'].between(*jersey_city_longitude_range))
]

cityBikesJerseyCity_df.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1676289,1246,2018-05-01 10:41:48.3910,2018-05-01 11:02:34.6290,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,26711,Subscriber,1942,Male
1676290,990,2018-05-01 10:42:49.5250,2018-05-01 10:59:19.7460,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,30561,Subscriber,1943,Male
1676291,1075,2018-05-01 10:44:47.8470,2018-05-01 11:02:43.3820,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,28378,Customer,1944,Male
1676314,1438,2018-05-02 13:55:06.8360,2018-05-02 14:19:05.3390,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,28378,Customer,1969,Unknown
1676315,1463,2018-05-02 13:55:17.5590,2018-05-02 14:19:41.0540,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,31430,Customer,1969,Unknown
1676366,4202,2018-05-05 11:35:07.9560,2018-05-05 12:45:10.6180,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,31430,Customer,1969,Unknown
1676373,1560,2018-05-05 12:22:03.5070,2018-05-05 12:48:03.8470,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,19003,Customer,1969,Unknown
1676378,178,2018-05-05 12:34:30.0170,2018-05-05 12:37:28.6910,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,26035,Subscriber,1971,Male
1676379,169,2018-05-05 12:34:34.3030,2018-05-05 12:37:24.0600,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,31664,Subscriber,1966,Male
1676381,585,2018-05-05 12:38:16.7740,2018-05-05 12:48:01.9690,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,18356,Customer,1969,Unknown
1676382,557,2018-05-05 12:38:46.6400,2018-05-05 12:48:03.9720,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,15685,Customer,1969,Unknown
1676383,1474,2018-05-05 12:48:35.7390,2018-05-05 13:13:09.7730,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,31159,Customer,1969,Unknown
1676388,568,2018-05-05 13:17:37.0330,2018-05-05 13:27:05.5330,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,17308,Customer,1969,Unknown
1676389,203,2018-05-05 13:21:00.1800,2018-05-05 13:24:23.9170,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,18356,Customer,1969,Unknown
1676393,67,2018-05-05 13:25:45.3860,2018-05-05 13:26:53.2670,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,26615,Customer,1969,Unknown
1676411,1671,2018-05-05 13:51:03.7570,2018-05-05 14:18:55.5410,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,19053,Customer,1973,Male
1676413,1859,2018-05-05 13:55:45.1430,2018-05-05 14:26:44.5850,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,30459,Subscriber,1986,Male
1676414,1872,2018-05-05 13:56:05.1680,2018-05-05 14:27:17.2380,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,33142,Subscriber,1987,Female
1676415,1765,2018-05-05 13:57:41.8300,2018-05-05 14:27:07.5030,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,30641,Customer,1969,Unknown
1676417,110,2018-05-05 14:10:45.5940,2018-05-05 14:12:36.5850,3479.0,Picnic Point,40.685126,-74.025353,3479.0,Picnic Point,40.685126,-74.025353,31308,Subscriber,1994,Female

In [ ]:
# Save cleaned data into a csv file 


cityBikesManhattan_df.to_csv('cleanData/citybike.csv', index=False)