In [1]:
import pandas as pd

In [2]:
# Combining 2018 files 
bikes2018 = ('data/201801.csv', 'data/201802.csv', 'data/201803.csv', 'data/201804.csv', 'data/201805.csv', 'data/201806.csv', 'data/201807.csv', 'data/201808.csv', 'data/201809.csv', 'data/201810.csv', 'data/201811.csv', 'data/201812.csv')

# Craeating an empty list to store dataframe
bikes2018_list = []

#Looping throiugh files and store into data frame
for file in bikes2018:
    bikes2018 = pd.read_csv(file)
    bikes2018_list.append(bikes2018)

bikes2018_df = pd.concat(bikes2018_list)

bikes2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [3]:
# Combining 2010 files 
bikes2019 = ('data/201901.csv', 'data/201902.csv', 'data/201903.csv', 'data/201904.csv', 'data/201905.csv', 'data/201906.csv', 'data/201907.csv', 'data/201908.csv', 'data/201909.csv', 'data/201910.csv', 'data/201911.csv', 'data/201912.csv')

# Craeating an empty list to store dataframe
bikes2019_list = []

#Looping throiugh files and store into data frame
for file in bikes2019:
    bikes2019 = pd.read_csv(file)
    bikes2019_list.append(bikes2019)

bikes2019_df = pd.concat(bikes2019_list)

bikes2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [4]:
# Combining 2010 files 
bikes2020 = ('data/202001.csv', 'data/202002.csv', 'data/202003.csv', 'data/202004.csv', 'data/202005.csv', 'data/202006.csv', 'data/202007.csv', 'data/202008.csv', 'data/202009.csv', 'data/202010.csv', 'data/202011.csv', 'data/202012.csv')

# Craeating an empty list to store dataframe
bikes2020_list = []

#Looping throiugh files and store into data frame
for file in bikes2020:
    bikes2020 = pd.read_csv(file)
    bikes2020_list.append(bikes2020)

bikes2020_df = pd.concat(bikes2020_list)

bikes2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [5]:
#Combining the three years of data into one Dataframe

combinedCityBikes_df = pd.concat([bikes2018_df, bikes2019_df, bikes2020_df], axis =0)

combinedCityBikes_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088924,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3614.0,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,1
1088925,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,0
1088926,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510.0,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,0
1088927,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073.0,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500.0,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,1
1088928,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,0

In [7]:
# Changing gender values to numerical values

mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use .loc to assign the mapped values to 'gender' column
combinedCityBikes_df['gender'] = combinedCityBikes_df['gender'].map(mapping)

cityBikes_df = combinedCityBikes_df

cityBikes_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,Male
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,Male
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,Male
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,Male
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088924,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3614.0,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,Male
1088925,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,Unknown
1088926,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510.0,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,Unknown
1088927,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073.0,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500.0,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,Male
1088928,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,Unknown

In [ ]:
# Save cleaned data into a csv file 


cityBikes_df.to_csv('data/citybike.csv', index=False)